.scroll-mask {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 80px, black calc(100% - 80px), transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 80px, black calc(100% - 80px), transparent 100%);
}
.shadowDo{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



@media screen and (min-width: 300px) and (max-width: 768px) {
    .container{
        max-width: 2000px;
        padding: 0px 10px;
    }
    .containerX{
        width: 100%;
        max-width: 2000px;
        padding: 0px 30px;
    }
    .mobileResTopLan{
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
    }
    .mobileResTopLanInner{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        margin-top: -10px;
        margin-left: -10px;
    }
    .marginBack{
        margin-left: 0.5px;
    }
    .animateTxtRes{
        font-size: 30px;
        line-height: 1;
        align-self: center;
    }
    .trackResDiv{
        margin-top: 30px !important;
        width: 100%;
        height: 350px;
    }
    .trackResTxt{
        font-size: 35px;
        text-align: left;
        line-height: 35px;
        font-weight: 500;
    }
    .extended{
         background: rgb(33, 33, 147);
         background-clip: content-box;
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    }
    .animateImgDiv{
        margin-top: 0px !important;
        width: 600px;
        height: 400px;
        transform: rotate(45deg);
        align-self: center !important;
    }
    .startFreeDashRes{
        align-self: center;
        margin-top: 0px;
        width: 100%;
        height: 70px;
    }
    .freeTopDivRes{
        padding: 0px 20px !important;
        width: 100%;
        margin-left: 0px;
        margin-top: 70px;
    }
    .freeTopDivTxt{
        font-size: 38px;
    }
    .animateImgDivMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
        width: 100%;
    }
    .animateImgDivMaininner{
        width: 100%;
    }
    .animateImgDivMaininner2{
        margin-top: -100px;
    }
    .whatsDivRes{
        margin-top: 40px;
        padding-top: 80px;
        height: 1500px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        background-color: rgba(209, 209, 209, 0.345);
    }
    .whatsDivInner{
        display: flex;
        flex-direction: column;
    }
    .whatsDivInnerDiv{
        width: 100%;
        height: 25%;
    }
}